<div class="col-md-9 col-sm-7">
    <div class="row list-view-sorting clearfix">
        <div class="col-md-2 col-sm-2 list-view">
            <a href="javascript:;"><i class="fa fa-th-large"></i></a>
            <a href="javascript:;"><i class="fa fa-th-list"></i></a>
        </div>
        <div class="col-md-10 col-sm-10">
            <div class="pull-right">
                <label class="control-label">Sort&nbsp;By:</label>
                <select class="form-control input-sm" ng-model="helper.orderProducts">
                    <option value="name">Name (A - Z)</option>
                    <option value="-name">Name (Z - A)</option>
                    <option value="price">Price (Low &gt; High)</option>
                    <option value="-price">Price (High &gt; Low)</option>
                </select>
            </div>
        </div>
    </div>
    <!-- BEGIN PRODUCT LIST -->
    <!--<div class="row product-list" ng-repeat="row in helper.productsBy3">-->
        <!-- PRODUCT ITEM START -->
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="product in helper.products | filter : {category : helper.routeCategoryName} | orderBy : helper.orderProducts">
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <a href="#products/{{product.category}}/{{product.name}}">
                        <img ng-src="/img/products/{{product.img}}" class="img-responsive" alt="Berry Lace Dress">
                    </a>

                </div>
                <h3 style="height: 33px; overflow: hidden"><a href="#products/{{product.category}}/{{product.name}}">{{product.name}} </a></h3>
                <div class="pi-price">{{product.price | number : 2}}</div>
                <a ng-click="helper.addToCart(product.name)" class="btn btn-default add2cart">Add to cart</a>
            </div>
        </div>
        <!-- PRODUCT ITEM END -->
    <!--</div>-->
    </div>
    <!-- END PRODUCT LIST -->
</div>